 <header>
        <div class="group1">
            <div class="col-3">
                <img src="/assets/imgs/LaLorenzaLogo.png" width="43px" height="40px">
                <img src="/assets/imgs/LaLorenzaLetras.png" width="130px" height="30px">
            </div>
            <div class="col-6">

            </div>
            <div class="col-3">
                <nav class="menu">
                    <a href="">
                        <i class="fa-solid fa-city"></i>&nbsp;&nbsp;¿Quienes Somos?
                    </a>
                    <a href="">
                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Salir
                    </a>
                </nav>
            </div>
        </div>
</header>
